<div class="px-5 py-5">
  <h1 class="flex text-3xl justify-center font-semibold text-gray-800">
    Voici les sessions prévues pour vous dans ce cours !!!
  </h1>
  <div class="flex justify-between py-2 text-lg">
    <div class="flex space-x-3 border-2 rounded">
      <button
        class="bg-blue-300 hover:bg-blue-500 rounded p-1 text-white"
        mwlCalendarPreviousView
        [(viewDate)]="viewDate"
        [view]="defaultView"
        [excludeDays]="[0, 6]"
      >
        Précedent
      </button>
      <button
        class="bg-blue-300 hover:bg-blue-500 rounded p-1 text-white"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Aujourd'hui
      </button>
      <button
        class="bg-blue-300 hover:bg-blue-500 rounded p-1 text-white"
        mwlCalendarNextView
        [(viewDate)]="viewDate"
        [view]="defaultView"
        [excludeDays]="[0, 6]"
      >
        Suivant
      </button>
    </div>
    <div class="text-lg">
      {{ viewDate | calendarDate : defaultView + "ViewTitle" : "fr" }}
    </div>
    <div class="flex space-x-3 border-2 rounded">
      <button
        class="bg-blue-300 text-lg hover:bg-blue-500 rounded p-1 text-white"
        (click)="setView(calendarView.Month)"
      >
        Mois
      </button>
      <button
        class="bg-blue-300 text-lg hover:bg-blue-500 rounded p-1 text-white"
        (click)="setView(calendarView.Week)"
      >
        Semaine
      </button>
      <button
        class="bg-blue-300 text-lg hover:bg-blue-500 rounded p-1 text-white"
        (click)="setView(calendarView.Day)"
      >
        Jour
      </button>
    </div>
  </div>
  <span [ngSwitch]="defaultView" class="text-lg">
    <mwl-calendar-month-view
      *ngSwitchCase="calendarView.Month"
      [viewDate]="viewDate"
      [events]="allEvents"
      locale="fr"
      [excludeDays]="[0, 6]"
      [activeDayIsOpen]="detail"
      (eventClicked)="detailEvent($event)"
      (dayClicked)="dayClicked($event.day)"
    ></mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="calendarView.Week"
      [viewDate]="viewDate"
      [events]="allEvents"
      locale="fr"
      [dayStartHour]="8"
      [dayEndHour]="20"
      [excludeDays]="[0, 6]"
    ></mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="calendarView.Day"
      [viewDate]="viewDate"
      [events]="allEvents"
      locale="fr"
      [dayStartHour]="8"
      [dayEndHour]="20"
    ></mwl-calendar-day-view>
  </span>
</div>
